@model IEnumerable<Data.AngleOk.Model.Models.RealtyObject>

@{
	ViewData["Title"] = "Realty Objects";
}

<h2>Realty Objects</h2>

<p>
	<a asp-action="Create2">Создать новый объект</a>
</p>

<table class="table">
	<thead>
	<tr>
		<th>Кадастровый номер</th>
		<th>Адрес</th>
		<th>Тип</th>
		<th>Описание</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.CadastralNumber</td>
			<td>@item.Address</td>
			<td>@item.RealtyObjectKind</td>
			<td>@item.Description</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td>
		</tr>
	}
	</tbody>
</table>