@model IEnumerable<Data.AngleOk.Model.Models.RealtyObject>

@{
	ViewData["Title"] = "Объекты";
}

<h2>Объекты</h2>

<p>
	<a asp-action="Create">Создать новый объект</a>
</p>

<table class="table">
	<thead>
	<tr>
		<th>Кадастровый номер</th>
		<th>Адрес</th>
		<th>Тип</th>
		<th>Описание</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.CadastralNumber</td>
			<td>@item.Address</td>
			<td>@item.RealtyObjectKind.RealtyObjectKindName</td>
			<td>@item.Description</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Просмотр</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
			</td>
		</tr>
	}
	</tbody>
</table>