@model Data.AngleOk.Model.Models.Advertisement

@{
	ViewData["Title"] = "Объявление детально";
}

<div>
	<h4>Объявление детально</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			Клиент
		</dt>
		<dd class="col-sm-10">
			@Model.Client?.FirstName @Model.Client?.LastName
		</dd>
		<dt class="col-sm-2">
			Тип объявления
		</dt>
		<dd class="col-sm-10">
			@Model.DealType?.DealTypeName
		</dd>
		<dt class="col-sm-2">
			Объект
		</dt>
		<dd class="col-sm-10">
			@Model.RealtyObject?.RealtyObjectKind.RealtyObjectKindName
		</dd>
		<dt class="col-sm-2">
			Менеджер
		</dt>
		<dd class="col-sm-10">
			@Model.Manager?.FirstName @Model.Manager?.LastName
		</dd>
		<dt class="col-sm-2">
			Описание
		</dt>
		<dd class="col-sm-10">
			@Model.Description
		</dd>
		<dt class="col-sm-2">
			Краткое описание
		</dt>
		<dd class="col-sm-10">
			@Model.ShortDescription
		</dd>
		<dt class="col-sm-2">
			Цена
		</dt>
		<dd class="col-sm-10">
			@Model.TargetPrice
		</dd>
	</dl>

</div>

<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
	<a asp-action="Index">Назад</a>
</div>