@model Advertisement
@{
    ViewBag.Title = Model.ShortDescription;
    ViewBag.Description = Model.Description;
}

<div>
    <h2>
        @Model.ShortDescription
    </h2>
    <h2>
        @Model.Description
    </h2>
    <h2>
        Контакт: @Model.Manager.Person.FirstName - @Model.Manager.PublicPhone \ @Model.Manager.Person.Email
    </h2>
    @* <div>
        <img class="img-block" src="~/images/@Model.TitleImagePath" />
    </div> *@
</div>
<div>
    @Html.Raw(Model.Description)
</div>