@* Employees *@
@model IQueryable<Employee>
@{
    string title = "Сотрудники";
    ViewBag.Title = title;
}
<div>
    <div class="div-box">
        <a asp-controller="Account" asp-action="Register" asp-route-id="" asp-route-returnUrl="/Admin/Employees">Добавить сотрудника</a>
    </div>
    <h2>Список сотрудников</h2>
    @if (Model.Any())
    {
        <div>
            @foreach (Employee item in Model)
            {
                <div>
                    <a asp-area="Admin" asp-controller="Employees" asp-action="Edit" asp-route-id="@item.Id">редактировать</a>
                    <form style="display: inline-block;" id="form-@item.Id" asp-area="Admin" asp-controller="Employees" asp-action="Delete" method="post">
                        <input type="hidden" name="Id" value="@item.Id">
                        <a href="#" onclick="document.getElementById('form-@item.Id').submit();">удалить</a>
                    </form>
                    @* <a asp-area="Admin" asp-controller="Employees" asp-action="Index" asp-route-id="@item.Id">
                        @($"{item.FirstName} {item.LastName}")
                    </a> *@
                    <b>@($"{item.FirstName} {item.LastName[0]}." + (string.IsNullOrEmpty(item.Patronymic) ? "" : (item.Patronymic[0]+".")))</b>
                </div>
            }
        </div>
    }
</div>